main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: bold;
}

table {
    width: 100%;
    text-align: center;
}

td {
    padding: 10px;
}

.calendar-title {
    color: #0433FF;
}

.red-color {
    color: #FF2600;
  
}

.blue-color {
    color: #0433FF; 
}

.black-color {
    color: black;
}

.calendar-title {
    text-align: center;
}

.day-name-vn > .sunday {
    background-color: #FF2600;
    color: white;
}
.day-name-vn>.saturday {
    background-color: #0433FF;
    color: white;
}

.day-name-vn > td {
    background-color:#FFB300;
    color: white;
    
}

.day-number {
    border-style:outset ;
}